<main id="content-inner">
    <div id="page">
        <% switch (page.type) {
            case 'categories': %>
                <%- partial('category') %>
            <% break;
            case 'tags': %>
            <%- partial('tag') %>
            <% break;
            case 'links': %>
                <%- partial('links') %>
			<% break;
            case 'memos': %>
                <%- partial('memos') %>
            <% break;
            case 'books': %>
                <%- partial('books') %>
            <% break;
            case '404': %>
                <%- partial('404') %>
            <% break;
            default: %>
                <%- partial('post') %>
            <% break;
        } %>
    </div>
</main>
