<% if (book) { %>
    <% const { chapters, articles } = book; %>
    <% chapters && chapters.length && chapters.forEach((chapter, index) => { %>
        <li class="book-chapter pt-5 <%= `book-chapter-${chapter.level}` %>">
            <ul class="heti--serif relative pb-2">
                <li><%= chapter.title %></li>
                <li class="absolute -top-3 -left-2 opacity-30 text-2xl font-bold heti--sans"><%= index + 1 %></li>
            </ul>
            <ul class="book-chapter-article">
                <%- partial('chapter', {
                    book: {
                        chapters: chapter.chapters,
                        articles: chapter.articles
                    }
                }) %>
            </ul>
        </li>
    <% }); %>
    <% articles && articles.length && articles.forEach((article, index) => { %>
        <li class="book-article pl-5">
            <a href="<%= url_for(article.path) %>" title="<%= article.title %>">
                <span><%= `${index + 1}`.padStart(3, '0') %></span>
                <span class="px-2">//</span>
                <span><%= article.title %></span>
            </a>
        </li>
    <% }); %>
<% } %>
