<% if (book) { %>
    <% const { chapters, articles } = book; %>
    <% chapters && chapters.length && chapters.forEach((chapter, index) => { %>
        <li class="book-chapter pt-5">
            <ul class="heti--serif relative py-3 book-chapter-title">
                <li>
                    <%- `<h${chapter.level}>${chapter.title}</h${chapter.level}>` %>
                </li>
            </ul>
            <ul class="book-chapter-article">
                <%- partial('chapter', {
                    book: {
                        id: book.id,
                        chapters: chapter.chapters,
                        articles: chapter.articles
                    }
                }) %>
            </ul>
        </li>
    <% }); %>
    <% articles && articles.length && articles.forEach((article) => { %>
        <% const curIndex = increase_step_counter(book.id).value() %>
        <li class="heti--serif book-article text-base my-2.5 font-light">
            <a href="<%= url_for(article.path) %>" title="<%= article.title %>" class="flex justify-between relative">
                <span class="bg-white dark:bg-zinc-900 pr-3"><%= article.title %></span>
                <span class="bg-white dark:bg-zinc-900 whitespace-nowrap before:-z-1 before:absolute before:top-1/2 before:right-0 before:w-full before:border-b before:border-main-text before:dark:border-main-text-dark before:border-dashed">
                    <span class="pl-2"><%= `${curIndex}`.padStart(3, '0') %></span>
                </span>
            </a>
        </li>
    <% }); %>
    <% if (!chapters.length && !articles.length) { %>
        <li class="heti--serif text-base my-2.5 font-light opacity-70 text-center">空空如也...</li>
    <% } %>
<% } %>
