<header id="blog-header" class="sticky -top-px left-0 w-full px-5 py-3 backdrop-blur-xl
                backdrop-saturate-150 z-100" style="background: var(--grain-square-white-opacity-blend)">
    <div class="max-auto">
        <nav class="flex items-center text-base min-h-[2rem]">
            <a id="blog-title-href" href="<%- config.root %>" class="group <%= is_home() ? 'hidden' : '' %>">
                <h2 class="font-medium heti--sans tracking-tighterp text-l p-2 flex items-center whitespace-nowrap w-max"
                    style="inline-size: max-content;">
                    <%= config.title %>
                </h2>
            </a>
            <div id="header-title"
                 class="opacity-0 md:ml-2 md:mt-[0.1rem] text-xs font-medium whitespace-nowrap overflow-hidden overflow-ellipsis">
                <%- page.title %>
            </div>
            <div class="flex-1"></div>
            <div class="flex items-center gap-3">
                <% for (var i of theme.nav){ %>
                    <a class="no-a-hover hidden md:flex text-sm py-0.5 px-2 hover:bg-opacity-20 hover:bg-gray-300 dark:hover:bg-opacity-20 dark:hover:bg-zinc-600" href="<%- url_for(i.url) %>">
                        <% if (i.icon) { %>
                        <i class="<%= i.icon %> mr-2"></i>
                        <% } %>
                        <span><%= i.title %></span>
                    </a>
                <% } %>
                <% if (theme.algolia_search && theme.algolia_search.enable) { %>
                    <a id="algolia_search" class="no-a-hover group flex items-center space-x-2 transition-colors duration-200 rounded-md p-0.5 pr-2 bg-opacity-50 hover:bg-gray-200 dark:hover:bg-zinc-700">
                        <i class="ri-search-2-fill rounded pl-1.5"></i>
                        <span class="hidden sm:inline text-sm"><%= _p('search.title') %></span>
                        <span class="hidden leading-none sm:block text-gray-400 px-1.5 border border-gray-300 rounded-md">
                            <span class="sr-only text-xs">Press </span>
                            <kbd class="font-sans">
                                <abbr title="Control" class="no-underline text-xs">Ctrl </abbr>
                            </kbd>
                            <span class="sr-only text-xs"> and </span>
                            <kbd class="font-sans text-xs">K</kbd>
                            <span class="sr-only text-xs"> to search</span>
                        </span>
                    </a>
                <% } %>
            </div>
            <div class="flex items-center justify-center gap-3 ml-3 md:hidden rounded bg-opacity-50 hover:bg-gray-200 dark:hover:bg-zinc-700 px-1.5">
                <span aria-hidden="true" role="img" id="open-menu">
                  <i class="ri-menu-4-fill"></i>
                </span>
                <span class="hidden" aria-hidden="true" role="img" id="close-menu">
                  <i class="ri-close-fill"></i>
                </span>
            </div>
        </nav>
    </div>
</header>
<div id="menu-panel" class="h-0 overflow-hidden md:hidden fixed left-0 right-0 top-12 bottom-0 z-10">
    <div id="menu-content"
         class="relative z-20 px-6 sm:px-8 py-2 backdrop-blur-xl -translate-y-full transition-transform duration-300"
         style="background: var(--grain-square-white-opacity-blend)">
        <ul class="nav flex flex-col sm:flex-row text-sm font-medium">
            <% for (var i of theme.nav){ %>
                <li class="nav-portfolio sm:mx-2 border-b sm:border-0 border-black/5 last:border-0 hover:text-main">
                    <a class="flex h-12 sm:h-auto items-center" href="<%- url_for(i.url) %>">
                        <% if (i.icon) { %>
                            <i class="<%= i.icon %> mr-2"></i>
                        <% } %>
                        <span><%= i.title %></span>
                    </a>
                </li>
            <% } %>
        </ul>
    </div>
    <div class="mask bg-[#ffffff11] dark:bg-[#00000011] absolute inset-0"></div>
</div>

<script>
  const canvas = document.createElement("canvas");
  const ctx = canvas.getContext("2d");

  function grain(size, name, color) {
    canvas.width = size;
    canvas.height = size;

    ctx.fillStyle = color;

    for (let x = 0; x < size; x++) {
      for (let y = 0; y < size; y++) {
        if (Math.random() > 0.5) {
          ctx.fillRect(x, y, 1, 1);
        }
      }
    }

    canvas.toBlob((blob) => {
      const url = URL.createObjectURL(blob);

      document.documentElement.style.setProperty(name, `url(${url})`);
    });
  }

  const isDark = document.documentElement.classList.contains("dark");
  const grainColor = isDark ? 'hsla(0,5%,12%,0.14)' : 'hsla(25, 100%, 96%, 0.1375)'
  grain(256, "--grain-square-white-opacity-blend", grainColor);
</script>
