<% if (page.total > 1){ %>
    <nav id="pagination">
        <a href="<%= url_for(page.prev_link) %>" class="arrow left" no-prev="<%= `${page.current}` === '1' ? 'true' : '' %>">
            <i></i>
            <svg>
                <use xlink:href="#circle" />
            </svg>
        </a>

        <span>
            <%= page.current %> / <%= page.total %>
        </span>

        <a href="<%= url_for(page.next_link) %>" no-next="<%= page.current === page.total ? 'true' : '' %>" class="arrow">
            <i></i>
            <svg>
                <use xlink:href="#circle" />
            </svg>
        </a>
    </nav>

    <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
        <symbol xmlns="http://www.w3.org/2000/svg" viewBox="0 0 44 44" width="44px" height="44px" id="circle" fill="none"
                stroke="currentColor">
            <circle r="20" cy="22" cx="22" id="test" />
        </symbol>
    </svg>

    <script>
      $('.arrow').on('click touch', function(e) {

        e.preventDefault();

        let arrow = $(this);

        if(!arrow.hasClass('animate')) {
          arrow.addClass('animate');
          setTimeout(() => {
            arrow.removeClass('animate');
            if (`${arrow.attr('no-prev')}` === 'true') {
              dlf.toast('已经是第一页了')
              return
            }
            if (`${arrow.attr('no-next')}` === 'true') {
              dlf.toast('已经是最后一页了')
              return
            }
            window.location.href = arrow.attr('href');
          }, 1600);
        }

      });
    </script>

    <style>
      .arrow {
        --active: var(--roy-fontcolor);
        --border: rgba(125, 125, 125, .12);
        display: block;
        position: relative;
        width: 44px;
        height: 44px;
      }

      .arrow.left {
        transform: scaleX(-1);
      }

      .arrow i {
        display: block;
        position: absolute;
        margin: -10px 0 0 -10px;
        width: 20px;
        height: 20px;
        left: 50%;
        top: 50%;
      }

      .arrow i:before, .arrow i:after {
        content: "";
        width: 10px;
        height: 2px;
        border-radius: 1px;
        position: absolute;
        left: 50%;
        top: 50%;
        background: var(--active);
        margin: -1px 0 0 -5px;
        display: block;
        transform-origin: 9px 50%;
      }

      .arrow i:before {
        transform: rotate(-40deg);
      }

      .arrow i:after {
        transform: rotate(40deg);
      }

      .arrow:before, .arrow:after {
        content: "";
        display: block;
        position: absolute;
        left: 1px;
        right: 1px;
        top: 1px;
        bottom: 1px;
        border-radius: 50%;
        border: 2px solid var(--border);
      }

      .arrow svg {
        width: 44px;
        height: 44px;
        display: block;
        position: relative;
        z-index: 1;
        color: var(--active);
        stroke-width: 2px;
        stroke-dashoffset: 126;
        stroke-dasharray: 126 126 0;
        transform: rotate(0deg);
      }

      .arrow.animate svg {
        -webkit-animation: stroke 1s ease forwards 0.3s;
        animation: stroke 1s ease forwards 0.3s;
      }

      .arrow.animate i {
        -webkit-animation: arrow 1.6s ease forwards;
        animation: arrow 1.6s ease forwards;
      }

      .arrow.animate i:before {
        -webkit-animation: arrowUp 1.6s ease forwards;
        animation: arrowUp 1.6s ease forwards;
      }

      .arrow.animate i:after {
        -webkit-animation: arrowDown 1.6s ease forwards;
        animation: arrowDown 1.6s ease forwards;
      }

      @-webkit-keyframes stroke {
        52% {
          transform: rotate(-180deg);
          stroke-dashoffset: 0;
        }
        52.1% {
          transform: rotate(-360deg);
          stroke-dashoffset: 0;
        }
        100% {
          transform: rotate(-180deg);
          stroke-dashoffset: 126;
        }
      }

      @keyframes stroke {
        52% {
          transform: rotate(-180deg);
          stroke-dashoffset: 0;
        }
        52.1% {
          transform: rotate(-360deg);
          stroke-dashoffset: 0;
        }
        100% {
          transform: rotate(-180deg);
          stroke-dashoffset: 126;
        }
      }

      @-webkit-keyframes arrow {
        0%, 100% {
          transform: translateX(0);
          opacity: 1;
        }
        23% {
          transform: translateX(17px);
          opacity: 1;
        }
        24%, 80% {
          transform: translateX(-22px);
          opacity: 0;
        }
        81% {
          opacity: 1;
          transform: translateX(-22px);
        }
      }

      @keyframes arrow {
        0%, 100% {
          transform: translateX(0);
          opacity: 1;
        }
        23% {
          transform: translateX(17px);
          opacity: 1;
        }
        24%, 80% {
          transform: translateX(-22px);
          opacity: 0;
        }
        81% {
          opacity: 1;
          transform: translateX(-22px);
        }
      }

      @-webkit-keyframes arrowUp {
        0%, 100% {
          transform: rotate(-40deg) scaleX(1);
        }
        20%, 80% {
          transform: rotate(0deg) scaleX(0.1);
        }
      }

      @keyframes arrowUp {
        0%, 100% {
          transform: rotate(-40deg) scaleX(1);
        }
        20%, 80% {
          transform: rotate(0deg) scaleX(0.1);
        }
      }

      @-webkit-keyframes arrowDown {
        0%, 100% {
          transform: rotate(40deg) scaleX(1);
        }
        20%, 80% {
          transform: rotate(0deg) scaleX(0.1);
        }
      }

      @keyframes arrowDown {
        0%, 100% {
          transform: rotate(40deg) scaleX(1);
        }
        20%, 80% {
          transform: rotate(0deg) scaleX(0.1);
        }
      }

      #pagination {
        display: grid;
        margin: auto;
        grid-template-columns: repeat(3, 44px);
        grid-gap: 32px;
        align-items: center;
      }
    </style>
<% } %>
